<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="mt-3">会員一覧</h3>
      <table class="table">
        <tr>
          <th>会員ID</th>
          <th>ユーザーネーム</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
        <% @members.each do |member| %>
        <tr style="border:none;">
          <td><%= member.id %></td>
          <td><%= link_to member.name, admin_member_path(member.id) %></td>
          <td><%= member.email %></td>
          <td>
            <% if member.is_deleted == false %>
              有効
            <% else %>
              退会
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
      <div class="row justify-content-center">
        <%= paginate @members %>
      </div>
    </div>
  </div>
</div>