<div class="container">
  <div class="row">
    <div class="col">
      <%= form_with model: @comment, url: review_comments_path, method: :post do |f| %>
      <table style="border:none;">
        <h3 class="mt-3">コメント入力</h3>
        <tr>
          <td><%= f.label :comment_content, "コメント", class: "col-12" %></td>
        </tr>
        
        <tr>
          <td><%= f.text_area :comment_content %></td>
        </tr>
        
        <tr>
          <td><%= f.submit "投稿する", class: "btn btn-warning" %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>