<div class="d-flex justify-content-end mt-5 mr-5">
  <div class="card">
    <div class="card-body">
      
      <div class="text-center">
        <p>ペットの輪はペット関連の商品レビューを投稿したり、閲覧できるサービスです。</p>
        <p>気になる商品を実際に使用した方の生の声を知りたい場合は<br>
        一度サイトを覗いてみてください</p>
      </div>
      
       <%= link_to 'ゲストログイン（閲覧用）', members_guest_sign_in_path, class: "btn btn-outline-secondary btn-sm btn-block mb-1 sign_in", method: :post %>

      <%= link_to '新規登録', new_member_registration_path, class: "btn btn-outline-success btn-sm btn-block mb-1" %>

      <%= link_to 'ログイン', new_member_session_path, class: "btn btn-outline-info btn-sm btn-block" %>

      管理者は<%= link_to "こちら", new_admin_session_path %>からログイン
    </div>
  </div>
</div>