<div class="d-flex justify-content-end mt-5 mr-5">
  <div class="card">
    <div class="card-body">
      
      <div class="text-center">
        <p>ペットの輪はペット関連の商品レビューを投稿したり、閲覧できるサービスです。</p>
        <p>気になる商品を実際に使用した方の生の声を知りたい場合は<br>
        一度サイトを覗いてみてください</p>
      </div>
      <%= link_to(new_member_registration_path) do %>
        <button class= "btn btn-outline-success btn-block mb-1">新規登録(ゲストログインの方もこちら)</button>
      <% end %><br>
      
      <%= link_to(new_member_session_path) do %>
        <button class= "btn btn-outline-info btn-block">ログイン</button>
      <% end %><br>
      
      
      管理者は<%= link_to "こちら", new_admin_session_path %>からログイン
    </div>
  </div>
</div>