<div class="container mt-5">
  <div class="text-center">
  <h3>本当に退会しますか？</h3>
   <p>
     退会すると、会員登録情報や<br>
     これまでに投稿したレビューやコメントが閲覧出来なくなります。<br>
     退会する場合は「退会する」をクリックしてください。
   </p>
    <%= link_to "退会する", withdraw_members_path, method: :patch , class: "btn btn-sm btn-outline-danger mr-2" %>
    <%= link_to "退会しない", my_page_members_path , class: "btn btn-sm btn-outline-info ml-2" %>
  </div>
</div>