@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


.navbar-light {
  background-color: #FFEEFF ;
}
.navbar-light .navbar-brand {
  color: #FF5192;
}

.search-li {
  display: inline-block;
  text-align: center;
  padding-left: 2%;
}