<!--<footer>-->
<!--  <div class="container mt-5">-->
<!--    <div class="row">-->
<!--      <div class="mx-auto">-->
<!--        <p>ペットの輪</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->